@import 'tailwindcss';

@font-face {
	font-family: 'Carattere';
	src: url('/fonts/Carattere-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

:root {
	/* Colors */
	--white: #ffffff;
	--black: #000000;
	--gold: #d3af57;
	--off-white: #fff7e4;
	--red: #e41e26;
	--blue: #1c3259;
	--light-peach: #f5ead9;

	/* Fonts */
	--carattere: 'Carattere', sans-serif;
	--poppins: 'Poppins', sans-serif;

	/* Backgrounds */
	--landing-bg: url('/images/landing-hero.png');
	--plus-bg: url('/images/plus-hero.png');
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

.max-width {
	max-width: 1440px;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}
